

menu {
	margin:0;
	padding:0;

}

li {

	font-family: 'Lobster';
	display:inline;
}

#navbar-main li {
	list-style: none;

}


#class-name {
	color: #eb6864;
}
/*----------------FORMS--------------------*/


fieldset {
	width:450px;
}

form {
	position: relative;
	margin:auto;

}
textarea {
	height: 500px;
}

.landingpg {
	margin-bottom: 30px;
}

.landingpg h3{
	font-family: 'Lobster';
}

.landingpg h2 {
	color: white;
	font-family: 'Lobster';
}
.btn-block {
	width:500px;
	margin:auto;
	color: white;
}


/*------------course box-------------------*/

#course-box {
	background-color: white;
	display:inline-block;
	position:relative;
	margin:20px;
	padding:0 0 5px 10px;
	vertical-align: top;
	width: 300px;
}
#course-thumb {
	margin-top: 10px;
}
#course-thumb img{
	height: 130px;
	width:270px;
}


/*--------------images-----------------------*/
#avatar {
height: 200px;
width: 250px;


}
