menu {
	margin:0;
	padding:0;
}

li {


	display:inline;
}

#navbar-main li {
	list-style: none;

}

/*----------------FORMS--------------------*/


fieldset {
	width:450px;
}

form {
	margin-left: 30px;
}
textarea {
	height: 500px;
}

