menu {
	margin:0;
	padding:0;
}

li {


	display:inline;
}

#navbar-main li {
	list-style: none;

}


#class-name {
	color: #eb6864;
}
/*----------------FORMS--------------------*/


fieldset {
	width:450px;
}

form {
	margin-left: 30px;
}
textarea {
	height: 500px;
}


/*------------course box-------------------*/

#course-box {
	background-color: white;
	display:inline-block;
	position:relative;
	margin:20px;
	padding:0 0 5px 10px;
	vertical-align: top;
	width: 300px;
}
#course-thumb {
	margin-top: 10px;
}
#course-thumb img{
	height: 130px;
	width:270px;
}


/*--------------images-----------------------*/
#avatar {
height: 200px;
width: 250px;


}
